/* Elements 
------------------*/
header {
	margin: 0 10px 20px 10px;
	padding-bottom: 10px;
	border-bottom: 2px #a00 solid;
	font-family: 'Chewy', cursive;
}

footer {
	margin: 20px 10px 0 10px;
	padding-top: 10px;
	border-top: 2px #a00 solid;
	font-family: 'Chewy', cursive;
}

body, main {
	margin: 0 10px;
}

footer {
	margin: 20px 10px 0 10px;
	padding-top: 10px;
	border-top: 2px #a00 solid;
	font-family: 'Chewy', cursive;
}

h1 {
	font-family: 'Chewy', cursive;
	color: #a00;
	font-size: 8rem;
}

p, a, li {
	font-family: 'Patrick Hand', cursive;
	font-size: 2rem;	
}

nav a:hover {
	background: #d00;
}

audio + p {
  border-top: 1px solid #a00;
}

iframe {
	max-width: 100%;
}

/* Classes 
------------------*/

.push-right {
	margin-left: 10px;
}

.nav a {
	background: #a00;
	color: white;
	padding: 0 6px;
	border-radius: 6px;
	text-decoration: none;
}

.clickable {
	background: #d44;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
}

.clickable:hover {
	background: #e55;
}

/* ---ANGULAR VIEWS--- 
------------------*/
  /* home 
  ------------------*/
.home-main-image {
	width: 100%;
}

.random-fact {
	border: 2px solid #aa0;
	margin-bottom: 10px;
	padding-left: 20px;
	border-radius: 10px;
}

  /* about 
  ------------------*/

.profile-img {
	border-radius: 10%;
}

  /* Diffrent ways to view the band members profiles depending on screensize. 
	borrowing Bootstrap's 768px sm breakpoint rule */
@media (max-width: 768px) {
	.hide-sm {
		display: none;
	}
}

@media (min-width: 769px) {
	.hide-md {
		display: none;
	}
}

  /* dates 
  ------------------*/

.show-display {
	border-bottom: 2px dotted #a00;
	text-align: center;
}

.show-display:last-child {
	border-bottom: none;
}

  /* contact 
  ------------------*/

.details-box {
	border: 1px solid black;
}

/* Font Awesome Icons styling
------------------*/
.social-icon {
	font-size: 25px;
}

.chevron-down {
	font-size: 15px;
}

/* MEDIA QUERIES
------------------*/

@media (max-width: 399px) {
	.max-width-xs {
		max-width: 100%;
	}
	h1 {
		font-size: 5rem;
		text-align: center;
	}
}

@media (min-width: 400px) { /*Custom pull left when small class*/
	.pull-left-sm {
		float: left;
		margin: 5px 15px 10px 5px;
		width: 300px;
	}
}



