<main>
	<section>
		<h2>About the Monkees</h2>
		<img src="../assets/images/monkees.jpg" class="pull-left-sm max-width-xs" alt="A black and white photo capturing an early Monkees performance">
		<p>The Monkees are a rock/pop group formed in 1965 to compliment an American situation comedy sitcom by the same name. 
		Created in Los Angeles, the band at most comprised of four members: Peter Tork, Micky Dolenz, Davy Jones and Michael Nesmith
		and have been active intermitently to this day!
		</p>
		<p>The sitcom they starred in between September 1966 to March 1968 was popular but stunted their creativity due 
		to the priority of recording their scenes. They eventualy found some middle ground and earned the right to take 
		more creative control musicaly.
		</p>
		<p>At their height in 1967 they outsold the Beatles and the Rolling Stones combined. They have sold over 75 million 
		records worldwide.
		</p>
		
		<!-- added for now just to add body -->
		<p>The Monkees are a rock/pop group formed in 1965 to compliment an American situation comedy sitcom by the same name. 
		Created in Los Angeles, the band comprised of four members: Peter Tork, Micky Dolenz, Davy Jones and Michael Nesmith
		and have been active intermitently to this day!
		</p>
		<p>The sitcom they starred in between September 1966 to March 1968 was popular but stunted their creativity due 
		to the priority of recording their scenes. They eventualy found some middle ground and earned the right to take 
		more creative control musicaly.
		</p>
		<p>At their height in 1967 they outsold the Beatles and the Rolling Stones combined. They have sold over 75 million 
		records worldwide.
		</p>
		
	</section>
	<section class="row">
		<h2 class="push-right">Meet the members</h2>
		<div class="col-sm-3">
			<h3>Peter Tork</h3>
			<img src="../assets/images/pt.jpg" alt=" picture of Peter" class="profile-img" style="width:100%">
			<p>Details about Peter Tork 
			</p>
		</div>
		<div class="col-sm-3">
			<h3>Micky Dolenz</h3>
			<img src="../assets/images/md.jpg" alt="A picture of Micky" class="profile-img" style="width:100%">
			<p>Details about Micky Dolenz 
			</p>
		</div>
		<div class="col-sm-3">
			<h3>Davy Jones</h3>
			<img src="../assets/images/dj.jpg" alt="A picture of Davy" class="profile-img" style="width:100%">
			<p>Details about Davy Jones 
			</p>
		</div>
		<div class="col-sm-3">
			<h3>Michael Nesmith</h3>
			<img src="../assets/images/mn.jpg" alt="A picture of Michael" class="profile-img" style="width:100%">
			<p>Details about Michael Nesmith 
			</p>
		</div>
	</section>
</main>