<div class="row">
	<form name="contactForm" ng-submit="formSubmit()" class="col-sm-4">
		<div class="form-group">
			<input type="name" class="form-control" placeholder="Your Name" ng-model="quoteForm.name" required/>
		</div>

		<div class="form-group">
			<input type="email" class="form-control" placeholder="Your Email" ng-model="quoteForm.email" required>
		</div>

		<div class="form-group">
			<input type="phone" class="form-control" placeholder="Your Phone-number" ng-model="quoteForm.number">
		</div>
		
		<div class="form-group">
			<input type="date" class="form-control" placeholder="Event date" date-format="dd/MM/yyyy" ng-model="quoteForm.date" required>
		</div>

		<div class="form-group">
			<input type="location" class="form-control" placeholder="Event Location" ng-model="quoteForm.location" required>
		</div>

		<div class="form-group">
			<textarea type="text" class="form-control" placeholder="Event type/information" ng-model="quoteForm.info"></textarea>
		</div>
		
		<button type="submit" class="btn">Submit</button> 
	
	</form>

	<section class="details-box col-sm-4">
		<h2>My details</h2>
		<p>Name: {{ quoteForm.name }}</p>
		<p>Email: {{ quoteForm.email }}</p>
		<p>Phone-number: {{ quoteForm.number }}</p>
		<p>Event date: {{ quoteForm.date }}</p>
		<p>Event location: {{ quoteForm.location }}</p>
		<p>Name additional info: {{ quoteForm.info }}</p>
	</section>	

	<section class="col-sm-4">
		<h2>Book the Monkees for your event!</h2>
		<p>Set your event alight with a live performance from the Monkees! Fill out the form and get a quote.</p>
	</section>
</div>

