<div class="random-fact">
	<p><strong>Did you know?</strong> <i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{ fact }}</p>
</div>
<main>
	<div class="row">

		<div class="col-sm-4">
			<h2>Monkee's fans.. you're in the right place!</h2>
			<ul>
				<li>Listen to <a href="/music">music</a> online</li>
				<li>Exclusive band <a href="/photos">photos</a></li>
				<li>View show <a href="/dates">dates</a></li>
				<li><a href="/contact">Book them</a> for your own event!</li>
			</ul>
		</div>

		<div class="col-sm-4">
			<img src="assets/images/cover3.jpg" class="home-main-image" alt="The Monkees, outside, dressed in red tops and blue jeans.">
		</div>
		
		<div class="col-sm-4">
			<h2>The Monkees could be performing at your event!</h2>
			<p>The Monkees would like to announce their availability for Christmas parties, weddings, Birthdays
			or any special event you can think of. Just fill out the <a href="/contact">contact form</a> and submit
			your request for a quote</p>
		</div>
		
	</div>
</main>