<main>
	<div class="row">
		<h2>Audio</h2>
		<div class="audio-window col-lg-3">
			<h3>Clarksville</h3>
			<audio controls="controls" controlsList="nodownload">
			  Your browser does not support the <code>audio</code> element.
			  <source src="../assets/audio/Clarksville.mp3" type="audio/mp3">
			</audio>
		</div>
			<div class="audio-window col-lg-3">
			<h3>Daydream Believer</h3>
			<audio controls="controls" controlsList="nodownload">
			  Your browser does not support the <code>audio</code> element.
			  <source src="../assets/audio/DaydreamBeliever.mp3" type="audio/mp3">
			</audio>
		</div>
				<div class="audio-window col-lg-3">
			<h3>I'm A Believer</h3>
			<audio controls="controls" controlsList="nodownload">
			  Your browser does not support the <code>audio</code> element.
			  <source src="../assets/audio/ImABeliever.mp3" type="audio/mp3">
			</audio>
		</div>
				<div class="audio-window col-lg-3">
			<h3>Steppingstone</h3>
			<audio controls="controls" controlsList="nodownload">
			  Your browser does not support the <code>audio</code> element.
			  <source src="../assets/audio/SteppingStone.mp3" type="audio/mp3">
			</audio>
		</div>
	</div>
	
	<video controls class="audio-window" poster="../assets/images/pleasewait.jpg">
		<source src="../assets/video/TheMonkees.mp4" 
		type="video/mp4">
		Video format not recognized by browser.
	</video>
	
</main>


















