<h2>{{ title }}</h2>

<div class="container">
	<div class="col-sm-3">
		<img src="../assets/images/md.jpg" alt="A picture of Micky" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Micky</p>
			</div>
	</div>
	<div class="col-sm-3">
		<img src="../assets/images/mn.jpg" alt="A picture of Michael" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Michael</p>
			</div>
	</div>
	<div class="col-sm-3">
		<img src="../assets/images/dj.jpg" alt="A picture of Davy" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Davy</p>
			</div>
	</div>
	<div class="col-sm-3">
		<img src="../assets/images/pt.jpg" alt=" picture of Peter" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Peter</p>
			</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4">
		<img src="../assets/images/album.jpg" alt="Greatest Hits Album Cover" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Greatest Hits Album Cover</p>
			</div>
	</div>
	<div class="col-sm-4">
		<img src="../assets/images/album2.jpg" alt="The very best of the Monkees album cover" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>The very best of the Monkees</p>
			</div>
	</div>
	<div class="col-sm-4">
		<img src="../assets/images/cover.jpg" alt="The Monkees Greatest Hits album cover" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>The Monkees Greatest Hits</p>
			</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4">
		<img src="../assets/images/cover1.jpg" alt="A jovial picture of the Monkees dressed in red, holding their instruments against a yellow background" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>In their heyday!</p>
			</div>
	</div>
	<div class="col-sm-4">
		<img src="../assets/images/cover3.jpg" alt="The monkees in a 'moody' pose, wearing red, outside infront of some houses beneath a blue sky" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>Quite a pose</p>
			</div>
	</div>
	<div class="col-sm-4">
		<img src="../assets/images/monkees.jpg" alt="A black and white photo capturing an early Monkees performance" class="img-thumbnail" style="width:100%">
		    <div class="caption">
				<p>An early performance</p>
			</div>
	</div>
</div>







	 